.btn-blue{
	background-color: rgb(52,174,205);
	color: rgb(250,250,250);
	padding:15px 20px;
	border-radius: 4px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
} 

.btn-blue:hover{
	background-color: rgb(200,200,200);
	color: rgb(30,30,30);
}